node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/config/service_account_file.json
./config/service_account_file.json
config/service_account_file.json
.config/service_account_file.json